    * {
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings: "slnt" slant;
    }
    /* .center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
    } */
    
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    
    .header_top {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    .menu_header_top {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
    }
    
    .content_top {
        display: flex;
        width: 80%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .h1_text_content_top {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 60px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .p_text_content_top {
        color: rgb(136, 136, 136);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
    }
    
    .button_text_content_top {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .start_button {
        color: rgb(255, 255, 255);
        background: rgb(242, 88, 34);
        box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
        width: 140px;
        height: 51px;
        padding: 16px 10px 16px 10px;
        border-radius: 56px;
        border-width: 0;
        ;
    }
    
    .video_button {
        color: rgb(170, 170, 170);
        background-color: white;
        border-width: 0;
    }